Minimum Requirements:
CPU: Desktop Intel i3 or equivalent within the last 5 years
GPU: Supports OpenGL
Monitor: HD 1920 x 1080p

Recommended Requirements:
CPU: Intel Core i7
GPU: GeForce GTX 980 or AMD Radeon R9 Fury
Monitor: UHD 3840 x 2160p, 16:9, touchscreen
Tools: Stylus pen